{{> layout/header}}

<div class="container p-5">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#boardList}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{author}}</td>
                <td>
                    <div class="d-flex">
                        <form action="/board/{{id}}/delete" method="post">
                            <button class="btn btn-danger">삭제</button>
                        </form>
                        <form action="/board/{{id}}/updateForm" method="get">
                            <button class="btn btn-warning">수정</button>
                        </form>
                    </div>
                </td>
            </tr>
        {{/boardList}}


        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{#hasPrevious}}
            <a class="btn btn-outline-primary" href="?page={{previous}}">Prev</a>
        {{/hasPrevious}}
        {{#hasNext}}
            <a class="btn btn-outline-primary" href="?page={{next}}">Next</a>
        {{/hasNext}}
    </div>

</div>

{{> layout/footer}}